---
apiVersion: batch/v1
kind: Job
metadata:
  name: etl-{{inventory_hostname}}
  labels:
    app: etl-{{inventory_hostname}}
spec:
  template:
    metadata:
      name: etl-{{inventory_hostname}}
      labels:
        app: etl-{{inventory_hostname}}
    spec:
      restartPolicy: Never
      containers:
      - name: etl-{{inventory_hostname}}
        image: naturalis/nba-etl:{{container_version}}
        imagePullPolicy: Always
        command: ["/bin/sh"]
        args:
        - "-c"
        - >
          set -x
          && sed -i 's/read_batch_size=1000/read_batch_size=500/g' {{inventory_hostname}}
          && wget -q https://dl.minio.io/client/mc/release/linux-amd64/mc
          && chmod +x mc
          && ./{{inventory_hostname}} ; result=$?
          && gzip /payload/software/log/*.log
          && ./mc --config-folder /mc cp /payload/software/log/*.gz s3-nba-brondata/import-logs/{{current_date.stdout}}/$(date +'%Y.%m.%d-%H.%M.%S')-{{inventory_hostname}}.log.gz
          && exit $result
        volumeMounts:
        - name: logdir
          mountPath: /payload/software/log
        - name: etl-nba-properties
          mountPath: /payload/software/conf/nba.properties
          subPath: nba.properties
        - name: etl-log4j2-xml
          mountPath: /payload/software/conf/log4j2.xml
          subPath: log4j2.xml
        - name: mc-s3-nba-brondata-config
          mountPath: /mc
      volumes:
      - name: logdir
        emptyDir: {}
      - name: etl-nba-properties
        configMap:
          name: etl.nba.properties
      - name: etl-log4j2-xml
        configMap:
          name: etl.log4j2.xml
      - name: mc-s3-nba-brondata-config
        configMap:
          name: mc-s3-nba-brondata-config
