---
apiVersion: batch/v1
kind: Job
metadata:
  name: etl-metadata
  labels:
    app: etl-metadata
spec:
  template:
    metadata:
      name: etl-metadata
      labels:
        app: etl-metadata
    spec:
      restartPolicy: Never
      containers:
      - name: etl-metadata
#        image: appropriate/curl
#        imagePullPolicy: Always
        image: alpine:3.6
        command: 
        - /bin/sh
        args:
#        - -XPUT
#        - 'http://elasticsearch-data:9200/meta/_importdata/importdata'
#        - -d
        - -c
        - >
           set -x
           && apk add --no-cache curl
           && curl -XPOST -s 'http://elasticsearch-data:9200/meta/importdata/importdata' -d '{
            "brahms_sourcefile" : "{{ hostvars['brahms-l1-specimens']['s3_file'] }}",
            "crs_specimens_sourcefile" : "{{ hostvars['crs-specimens']['s3_file'] }}",
            "crs_multimedia_sourcefile" : "{{ hostvars['crs-specimens']['s3_file'] }}",
            "col_source_file" : "{{ hostvars['col-taxa']['s3_file'] }}",
            "geo_source_file" : "{{ hostvars['geo-areas']['s3_file'] }}",
            "nsr_source_file" : "{{ hostvars['nsr-taxa']['s3_file'] }}",
            "etl_version" : "{{ container_version }}",
            "medialib_cache_sourcefile" : "{{s3_medialib_file}}",
            "import_date" : "{{ current_date.stdout }}"
           }'
